.wrap {
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Titan One;
  background-color: rgba(255, 165, 186, 1);
}
h1 {
  font-size: 60px;
  color: #d41443;
}

.queen {
  margin: 0 auto;
  margin-bottom: 20px;
  display: inline-block;
  background-color: #fff5f6;
  border: solid 2px rgba(212, 20, 67, 1);
  padding: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  transition: all 0.25s ease-in-out;
}

.grid-container {
  columns: 4;
  column-gap: 30px;
  width: 100%;
  margin: 0 auto;
}

.grid-container div {
  width: 100%;
  margin: 0 1.5rem 1.5rem 0;
  display: inline-block;
  background-color: #fff5f6;
  border: solid 2px rgba(212, 20, 67, 1);
  padding: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  transition: all 0.25s ease-in-out;
}

.grid-container div:hover img {
  filter: grayscale(0);
}
.grid-container div:hover {
  border-color: coral;
}
.grid-container div img {
  width: 100%;
  filter: grayscale(100%);
  border-radius: 20px;
  transition: all 0.25s ease-in-out;
}
.grid-container div p,
.queen-text {
  float: DM Sans;
  color: rgba(212, 20, 67, 1);
  margin: 5px 0;
  padding: 0;
  text-align: center;
}
.queen-text {
  font-size: 35px;
}
